/* Body styles */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Header styles */
header {
    height: 50vh;
    text-align: center;
    padding: 20px 100px;
    background-color: #292929;
    color: #fff;
    /* The Following few line are used to create the pattern in the background, it essentially uses linear gradient are different angles and color values to create a checkerboard effect */
    /* the animation after that is called from the animation list created at the bottom of this file*/
    background:                                                       
     linear-gradient(45deg, #292929 25%, transparent 25%) -50px 0,
     linear-gradient(-45deg, #292929 25%, transparent 25%) -50px 0,
     linear-gradient(45deg, transparent 75%, #292929 75%) -50px 0,
     linear-gradient(-45deg, transparent 75%, #292929 75%) -50px 0;
    background-color: rgb(39, 39, 39);
    background-size: 50px 50px;
    /*animation: movePattern 15s linear infinite; This animation has linear infinite animation to contiously scroll, it is heavy on system resources so I decided to turn it off for now*/
}


/* Main content styles */
main {
    padding: 20px 200px;
    text-align: center;
    font-family:'Oswald', sans-serif;
    color: white;
    background-color: rgb(39, 39, 39);
    height: 50vh;
    box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.3); /* This is the drop shadow effect that seperates the main section from the header section */
}

/* Image styles */
.img {
    display: block;
    margin: 0 auto;
    height: 50vh;
    animation: slideDown 2s ease forwards;  /* The animation is called from the animations established below, its called using the JS when the page loads and has an ease transition for smooth animation */
}

/* Button styles */
.link {
    display: block;
    margin: 50px auto;
    padding: 15px 20px;
    background-color: #424242;
    color: #fff;
    font-family:'Oswald', sans-serif;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    animation: slideUpButton 1s ease forwards;         /*Same as previous animations, called upon page loading*/
    transition: background-color 0.5s ease, transform 0.3s ease; /* Add transform transition for when button is hovered on */
}

/* Changes when button is hovered on*/
.link:hover {
    transform: scale(1.1); /* Increase the size by 10% */
    background-color:  #d0d31f;
    color:  #292929;
}

/* Paragraph styles */
p {
    line-height: 1.6;
    font-style: italic;
    font-weight: 300;
    animation: slideUp 1.1s ease forwards;  /*Same as previous animations, called upon page loading*/
}

h1 {
    font-weight: 900px;
    font-size: 48px;
    margin-top: 10px;
    animation: slideUp 1.25s ease forwards; /*Same as previous animations, called upon page loading*/
}




/* For smaller screens, we adjust header padding and font size for elements */
@media only screen and (max-width: 1250px) {
    h1,
    p{
        font-size: 16px;
    }
    .img {
        height: 40vh;
    }

}


/* For even smaller screens, we adjust header padding and font size for elements */
@media only screen and (max-width: 900px) {
    h1,
    p{
        font-size: 12px;
    }
}


/* For even smaller screens, we adjust header padding and font size for elements */
@media only screen and (max-width: 600px) {
    h1,
    p{
        font-size: 10px;
    }

}


/* Animation for background image pan */
/* Takes initial position and adds 100px on the x axis */
@keyframes movePattern {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100px 0px;
    }
}

/* Animation for image sliding down */
/* Takes end position and starts the element offscreen before sliding it down to position */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation for text sliding up */
/* Takes end position and starts the element offscreen before sliding it up to position */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation for button sliding up */
/* Same as previous but is dedicated to the button element (for easier dedicated changes) */
@keyframes slideUpButton {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
